@import 'globals.scss';

$main_black: #000;
$secondary_black: #061424;
$orange: #FE481C;

body {
  font-family: 'Inter', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  max-width: 1100px;
  margin: auto;
  padding: 15px 0;
  border-bottom: solid #e1e1e1;

  .nav-links {
    display: flex;
    flex-basis: 50%;
    justify-content: space-evenly;
  }

  a {
    font-size: 1rem;
  }

  a.logo {
    font-size: 2rem;
    font-weight: bold;

    span {
      color: $orange;
    }
  }

  a.lets-chat {
    border: 1px solid black;
    padding: 16px 32px;
    transition: .3s;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

section.hero {
  display: grid;
  grid-template-areas:
    'intro hero-img'
    'intro hero-img'
    'stats hero-img'
  ;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  margin: auto;

  .intro {
    grid-area: intro;
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    h1 {
      font-size: 4rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
    }

    .links {
      display: flex;

      a {
        display: block;
        padding: 16px 32px;
        transition: .3s;

        &.hire-me {
          background-color: $orange;
          color: white;

          &:hover {
            background-color: adjust-color($color: $orange, $lightness: -10%);
          }
        }

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .infos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;

      .info {
        p:nth-child(1) {
          font-weight: bold;
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .stats {
    display: grid;
    grid-area: stats;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $secondary_black;
    color: white;
    padding: 32px 32px  32px 32px;

    .data {
      &-item {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: solid #474242;
      }
    }
  }

  .hero-img {
    grid-area: hero-img;
    place-self: center;
    img {
      width: 100%;
    }
  }
}